<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Songlist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Song database</h1>
		</div>
		<div class="col-md-4">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Genre</th>
				<th>Length</th>
				<th>Songwriter</th>
				<th>Album</th>
				<th></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
			<tr th:each="song : ${songs}">
				<td th:text="${song.title}"></td>
				<td th:text="${song.genre}"></td>
				<td th:text="${song.length}"></td>
				<td th:text="${song.songwriter}"></td>
				<td th:text="${song.album.name}"></td>
				<td><a th:href="@{/songedit{id}(id=${song.id})}" class="btn btn-primary">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/songdelete/{id}(id=${song.id})}" class="btn btn-xs btn-danger">Delete</a></td>
			</tr>
		</table>
		<a href="/addsong" class="btn btn-primary">Add Song</a>
	</div> 
</body>
</html>